In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('output_predicted_evaluated.csv')
df.head()

,text,summary,summary_pred,ROUGE-1,ROUGE-2,ROUGE-L,BERTScore_F1,Cosine_Similarity
0,\nSau bài thi ngắn năm mươi phút và bốn mươi c...,"Đại thụ của nền sử học ra đi, để lại cho cuộc ...",Trong bốn mươi câu trắc nghiệm lịch sử sáng na...,0.755716,0.607961,0.563177,0.798620,0.714390
1,"Với doanh thu bình quân 200 USD/TEU, theo số l...","Với doanh thu bình quân 200 USD/TEU, theo số l...","Với doanh thu bình quân 200 USD/TEU, theo số l...",0.706024,0.567633,0.573494,0.794085,0.663925
2,Tôi có một shop hoa. Ngày Phụ nữ Việt Nam luôn...,Chỉ là bởi giữa lúc ngập tràn trên mạng xã hội...,Chỉ là bởi giữa lúc ngập tràn trên mạng xã hội...,0.637135,0.594901,0.601320,0.836614,0.648662
3,Nhưng ông nông dân miệt vườn này vẫn điềm tĩnh...,"Các nhà khoa học nhận diện, hiện tượng ""ngập t...",Đó chỉ là một câu chuyện về cách người dân đồn...,0.532957,0.316981,0.284369,0.647644,0.518978
4,"George Black lặng lẽ khóc, khi nghe bác sĩ Bản...",Ông rất tâm huyết với công cuộc hòa giải và hà...,"George Black lặng lẽ khóc, khi nghe bác sĩ Bản...",0.709459,0.575621,0.540541,0.777414,0.741655